
/* CSS 2018-11-29 合并版 */
*{ margin:0px; padding:0px; font-family:"Microsoft YaHei"; list-style-type:none;}
/*a{ text-decoration:none; color:#008ec9}*/
/*body{  padding-top:10px; padding-bottom:10px;}*/

.NewTableHead{}
.NewTableTop{}
.NewTableTop .textline{font-size:12px; padding:3px 5px; padding-left:5px; border-bottom:1px solid #b5b5b5}
.NewTableHead h1{  font-size:18px; text-align:center; padding-bottom:30px;  padding-top:30px; line-height:28px;}
.NewTableHead .dateTxt{ text-align:center; font-size:12px; height:28px; line-height:33px;}
.NewTableTop td{ font-size:12px; height:26px; line-height:26px; padding-top:8px;}
.NewTableMain {  background-color:#fff; padding-top:12px;}
.NewTableMain table{ background-color:#b5b5b5; font-size:12px;border-spacing:1px;border-collapse:separate;}
.NewTableMain td{ background-color:#fff; height:27px; }
.NewTableMain td.level2{ padding-left: 16px;}
.NewTableMain td.level3, .NewTableMain td>.level3{ padding-left: 32px;}
.NewTableMain td.level4, .NewTableMain td>.level4{ padding-left: 48px;}
.NewTableMain td .inlineDiv{ display: inline;}
.NewTableMain td .inlineDiv input[type="radio"]{ vertical-align: sub;}
.NewTableMain .title01{ background-color:#f8fcfd; padding:0 5px 0 5px;   }
/***
.NewTableMain .EditInput01 { padding-right: 2px;}
.NewTableMain .EditInput01 input{ text-align:right; width:100%; height:25px; border:1px solid #fff; font-size:12px;*width:98%; }
.NewTableMain .EditInput01 input:hover{ background-color:#ffffd5;}

.NewTableMain .EditInput02 { padding-right: 2px;}
.NewTableMain .EditInput02 input{ text-align:left; width:100%; height:25px; border:1px solid #fff; font-size:12px;*width:98%; }
.NewTableMain .EditInput02 input:hover{ background-color:#ffffd5;}
.NewTableMain .EditInput03 { padding-right: 2px;}
.NewTableMain .EditInput03 input{ text-align:center; width:100%; height:25px; border:1px solid #fff; font-size:12px;*width:98%;}
.NewTableMain .EditInput03 input:hover{ background-color:#ffffd5;}

.NewTableMain .ReadInput01 { padding-right: 2px; background-color:#f1edee;}
.NewTableMain .ReadInput01 input{ text-align:right; width:100%; height:25px; border:1px solid #f1edee; font-size:12px;background-color:#f1edee;*width:98%;}
.NewTableMain .ReadInput02 { padding-right: 2px; background-color:#f1edee;}
.NewTableMain .ReadInput02 input{ text-align:center; width:100%; height:25px; border:1px solid #f1edee; font-size:12px;background-color:#f1edee;*width:98%;}

.NewTableMain .ReadInput03 { padding-right: 2px; background-color:#f1edee;}
.NewTableMain .ReadInput03 input{ text-align:left; width:100%; height:25px; border:1px solid #f1edee; font-size:12px;background-color:#f1edee;*width:98%;}

***/

.NewTableMain .left input{text-align:left;}
.NewTableMain .mid input{text-align:center;}
.NewTableMain .right input{text-align:right;}

.NewTableMain .edit { }
.NewTableMain .edit input{width:100%; height:25px; border:1px solid #fff; font-size:12px;box-sizing: border-box;}
.NewTableMain .edit input:hover{ background-color:#ffffd5;}
.NewTableMain .read { background-color:#f1edee;}
.NewTableMain .read input{width:100%; height:25px; line-height: 25px; border:1px solid #f1edee; font-size:12px;background-color:#f1edee;box-sizing: border-box;}


.statement{ margin:5px; }
.statement .text{ font-size:12px; line-height:18px; }
.statement td{color:#575757;}
.statement h2{text-align:center;font-size:12px; height:20px; line-height:20px;}
.NewTableFoot { font-size:12px; padding-bottom:10px; padding-top:10px;}
.NewTableFoot h2{font-size:12px; height:28px; line-height:28px; }
.NewTableFoot td{font-size:12px; height:22px; }
.topInput{ font-size:12px; height:25px; line-height:25px; padding-left:5px; border:1px solid #fff; border-bottom-color:#b5b5b5; }
.topInput:hover{background-color:#ffffd5;}
.yellow_tisi{line-height:20px; background-color:red;right:-70px; bottom:-50px; padding:5px 5px;text-align:left; z-index:2; box-shadow:2px 2px 3px #ccc; display:none;}
.yellow{ background-color: #ffd21d !important;}
.NewTableMain select{ border:1px solid #fff; width:100%;}
.NewTableMain .back{ text-align:center; background-color:#f1edee;}
/*C.Q 20170209*/
.green{ background-color: #90EE90!important;}
.fxsm_tisi{ background-color: #ffdb95!important;}
.defaultFxsmColor{ background-color: #8E8E38!important;}
.relative{ position:relative;}
/****N0512*****/

.tab_table{ height:36px; overflow:hidden;}
.tab_table  ul{ margin-left:15px;}
.tab_table li{ cursor:pointer; float:left; height:34px; line-height:32px; border:1px solid #f4f4f4; border-bottom-color:#c5c5c5; padding:0 20px;}
.tab_table .active{ background-color:#fff;border:1px solid #c5c5c5; border-bottom-color:#fff;}
.btncz { text-align:right; height:40px; line-height:40px;}
.btncz img{ display:inline-block; vertical-align:middle;}
.btncz a{ margin:5px 8px; color:#313131;}
.tab_main .hover{}



/**变更登记表****/
.head_11{ width:100%; background-color:#2191da; height:80px; background-image: url(head_bg.png); background-repeat: no-repeat; background-position: right;}
.tab_name{ }
.tab_name .spangs{ font-size:24px; color:#1a56a9; margin-right:16px; background-color:#fff; padding:2px 10px 5px 10px; border-radius:2px;}
.tab_name .spanbm{ font-size:24px; color:#fff; line-height: 80px;}
.juz02{ padding:0px 16px;}
.juz02 .right{ white-space: nowrap;}




/**变左边菜单样式01****/
.leftBox02 .close_btn{ cursor:pointer;}
.leftBox02 .close_btn2{ }
.leftBox02 .close_btn1{ background-color:#efeeee; width:10px; font-size:12px;  text-align:center;}
.leftBox02 .close_btn1 span{ display:block; background:#2191da; color:#fff;font-family:SimSun; height:50px; line-height:50px;opacity: 0.7; }
.leftBox02 .close_btn1 span:hover{ display:block; background:#2191da; color:#fff;font-family:SimSun; height:50px; line-height:50px;opacity: 1;}
.leftBox02{ position:fixed; z-index:999; }
.leftBox02 .biao_leftmenubox{background-color:#fff; width:330px; padding: 0 10px;}
.leftBox02 .biao_leftmenubox h3{  position: relative; margin-top: 10px; line-height:38px;border-bottom: 1px solid #dcdee2;font-size:16px;  border-top-left-radius: 3px;border-top-right-radius: 3px;}

.leftBox02 .biao_leftmenubox ul{ }
.leftBox02 .biao_leftmenubox a{ color:#444; padding:8px 0px; line-height:20px;display:block; font-size:14px;}
.leftBox02 .biao_leftmenubox .active a{  font-size:14px;}
.leftBox02 .biao_leftmenubox a:hover{color:#888;}





/*.sbtnbox{ text-align:right;background-color: #fff; padding-right: 20px; padding-bottom: 20px; position: relative; padding-top: 20px;}*/ 
.win-btn-box{text-align: center;background-color: #fff; padding-right: 20px; padding-bottom: 20px; position: relative; padding-top: 20px;}
.btn{ line-height:28px; margin-right:5px; border-radius:1px; padding:0px 20px; display:inline-block; border:1px solid transparent; color:#fff;cursor:pointer; 
transition:opacity 0.5s;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;}
.btn01,.btn05{ background-color:#00a2c9}
.btn_read{ line-height:28px; margin-right:5px; border-radius:1px; padding:0px 20px; display:inline-block; border:1px solid transparent; color:#999; cursor:text; 
transition:opacity 0.5s;-moz-transition:opacity 0.5s;-webkit-transition:opacity 0.5s;-o-transition:opacity 0.5s;}
.btn_read01{ background-color:#ddd}
.btn06{ background-color:transparent; border:1px solid #fff; color:#fff; opacity:0.8}
.btn06:hover{ background-color:#fff; color:#1a56a9; opacity:1}
.btn01:hover{background-color:#00b3de;}

/*****/
.tabs_01 { overflow:hidden; clear:both;}
.tabs_01 li{ float:left;}
.tabs_01 li a{ padding:5px 15px; display:block; color:#333; background-color:#d9dfe5; margin:2px 4px 2px 0; border-radius:1px;}
.tabs_01 .active a{ background-color:#546478; color:#fff;}

.tabs_02 { overflow:hidden; clear:both; margin:15px 0;}
.tabs_02 ul{overflow:hidden; z-index:1;border-bottom:1px solid #ddd; }
.tabs_02 li{ float:left;}
.tabs_02 .tabline{ display:block; position:absolute; clear:both; z-index:-1; bottom:0px; width:100%;}
.tabs_02 li a{  padding:7px 19px; display:block; color:#666; font-size:14px;}
.tabs_02 .active a{font-size:14px; color:#000000; border-left:1px solid #c5c7c9; border-right:1px solid #c5c7c9;border-bottom:1px solid #fff; background-color:#fff; border-top:2px solid #0070cd;}


/*开发者样式*/
.developer .TableMain,.developer .RightEdit{ float:left;}
.developer .TableMain{ width:80%;}
.developer .RightEdit{ width:20%; overflow-y:auto; background:#fff;}
.developer .RightEdit .boxStyle{ border-left:1px solid #CCC;}
.developer .RightEdit h1,.developer .FootEdit h1{ border-bottom:1px solid #CCC; font-size:12px; color:#333; background-color:#f4f4f4; height:32px; line-height:32px; padding-left:10px;}
.developer .FootEdit h1{border-top:1px solid #CCC;}
.developer .FootEdit{ height:180px; clear:both;}
.developer .biao_leftmenubox{ overflow-y:auto;}
.developer .tableDiv{overflow: hidden;}
.developer .line{ position:absolute; width:10px;  cursor:move; top:0px; }
.developer .linefoot{ height:5px; position: fixed;  cursor:move; top:0px;}
.user .biao_leftmenubox{ overflow-y:auto;}
.user .tableDiv{overflow-y:hidden;}

 
/*新增按钮0622*/
.sbtn{ color:#fff; margin:0px 0px; border-radius:2px; font-size:12px; padding:0px 10px; display:inline-block; height:24px; line-height:24px;}
.sbtn:hover{ opacity:0.8}
.sbtn01{ background-color:#1a56a9; cursor:pointer;}
.sbtn02{ background-color:#F4D03F;cursor:pointer;}
.sbtn03{ background-color:#ff5a00;cursor:pointer;}

#viewCtrlId input:focus{border: 1px solid #5CACEE;outline: none;}
#viewCtrlId select:focus{border: 1px solid #5CACEE;outline: none;}
#viewCtrlId textarea:focus{border: 1px solid #5CACEE;outline: none;}

/* 手工修改单元格后消除自动计算的相关提示 */
.manual { background-color:#FFFDA5; color:#ff6600; z-index:100000; position:relative; }
.manual .rtDelta{ position:absolute; right:0; width: 0; top:0px; height: 0; border-top: 10px solid #22ff22; border-left: 10px solid transparent; }
.manual i{ color:#326ab7; font-style:normal; padding-top:10px; display:block;}
.percentInputAslabel {border: none;width: 50%;padding-right: 0px;padding-left: 10px;text-align: center;}

/*2017-03-10*/
.TableMain .leftmenucss li{  position:relative; }
.TableMain .leftmenucss a{ display:block; background-color:#FFF; padding:10px 25px 10px 15px;border-bottom: 1px dashed #dcdee2; color:#444;}
.TableMain .leftmenucss .active a{  background-color:#edf6fc; color: #3e9be5;border-bottom: 1px dashed #dcdee2;}
.TableMain .leftmenucss a:hover{color:#3e9be5;}
.TableMain .leftmenucss .numberbox{  position:absolute; right:1px;top:9px;}
.TableMain .leftmenucss .number{ display:inline-block; font-size:10px;  background-repeat:no-repeat; color:#fff; text-align:center; margin:0 2px; }
.TableMain .leftmenucss .numbga1{ background-image:url(numbga1.png); width:15px; height:15px; line-height:15px;}
.TableMain .leftmenucss .numbgb1{ background-image:url(numbgb1.png); width:15px; height:15px; line-height:15px;}

.TableMain .leftmenucss .numbga2{ background-image:url(numbga2.png); width:22px; height:15px; line-height:15px;}
.TableMain .leftmenucss .numbgb2{ background-image:url(numbgb2.png); width:22px; height:15px; line-height:15px;}

.tc_nav{ padding:25px 50px 30px 50px;}
.searchbox {}
.searchTitle{ height:40px; line-height:40px; font-size:15px; font-weight:bold; color:#666666;}
.searchbox .searchTable{/* overflow:auto;*/}
.searchbox .searchTable table{ border-top:1px solid #dddddd; border-left:1px solid #dddddd ;font-size:12px;}
.searchbox .searchTable th ,.searchbox .searchTable td{ border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;color:#666666; font-size:12px;}
.searchbox .searchTable th {padding:2px 5px; color:#444444;    height:32px; background-color:#eeeeee;}
.searchbox .searchTable td{     color:#313131; height:32px; padding:0px 5px; font-size:12px;}
.searchbox .searchTable td span{  font-size:12px;}
.searchTable td a{ font-size:12px;}
.searchbox .searchTrColor{}
.searchbox .searchTable tr:nth-child(odd){background-color:#fff;}
.searchbox .searchTable tr:nth-child(even){ background-color:#f9f9f9;}
.searchbox .searchTable tr{transition:background 0.5s;
-moz-transition:background 0.5s; /* Firefox 4 */
-webkit-transition:background 0.5s; /* Safari and Chrome */
-o-transition:background 0.5s; /* Opera */}
.searchbox .searchTable tr:hover{ background-color:#f9f9f9;}
/**分页样式**/
.pageBox{ margin:0px;}
.page{ background-color:#FFF; padding:10px 0; overflow:hidden; text-align:left; float:left; }
.page_box{ border-radius:2px; background-color:#fff;float: left; overflow:hidden;}
.page_box.fs-l { border-radius: 2px;}
.page_box.fs-r { padding-left: 10px;}
.pageBox td{ font-size:12px;}
.pageBox td select {width: 50px;padding:0 5px;margin: 0px 10px; border:1px solid #e2e2e2;border-radius: 3px; color:#313131;font-size:14px;height: 28px;}
.pageBox td input {width: 42px; height: 28px; padding:0 5px;margin: 0px 10px; border:1px solid #e2e2e2;border-radius: 3px; color:#333;font-size:14px; text-align: center;}
.page a{ padding:0px 12px; border: 1px solid #d1d3d8; margin-right: 8px; border-radius: 3px;  display:block; float:left;font-size:14px; text-decoration:none; height: 28px; line-height: 28px;box-sizing: border-box; color: #333; }
.page .active,.page .active:hover{ color:#53acf3; background-color:#fff; border: 1px solid #fff;}
.page a:first-child{ font-family: "宋体"; font-weight: bold;}
.page a:last-child{ font-family: "宋体"; font-weight: bold;}
.page a:hover{ background-color:#f8fcfd;cursor:pointer}
.page a.disabled{display:block;background-color:#f7f7f7;cursor:auto; font-weight: bold;}
.pageBox td input[type="button"]{ background-color: #fff; border: 1px solid #53acf3; color: #53acf3; width:50px; text-align: center;}


.link{ background:#fff; width:230px; padding:5px 0px; border-radius:4px; position:absolute; top:31px; left:-130px; display:none; transition:linear 0.5s}
.link a{ font-size:14px; display:block; text-align:left; padding-left:10px; width:190px; height:30px; line-height:30px; border:1px solid #d8d8d8; margin:10px auto; color:#00a1ce; border-radius:4px;}
.link a:hover{ border:1px solid #00a1ce; box-shadow:1px 1px 5px #999; -moz-box-shadow:1px 1px 5px #999; -ms-box-shadow:1px 1px 5px #999; -o-box-shadow:1px 1px 5px #999; -webkit-box-shadow:1px 1px 5px #999;}
.anima{ display:inline-block;  }
.anima-v{ width:100px; height:30px; line-height:30px; text-align:center; border:1px solid #fff; border-radius:2px; position:relative;; background:#fff;}
.anima-v>a{font-size:14px; background:url(bof_ct1.png) 0px center no-repeat; padding-left:25px;}
.anima-v:hover{ }


/*2017-03-28*/

@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1490685572389'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1490685572389#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1490685572389') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf?t=1490685572389') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1490685572389#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-off:before { content: "\e761"; }

.icon-on:before { content: "\e7d4"; }


/*2017-03-28修改旧样式*/
.leftBox01 .close_btn{ cursor:pointer;}
.leftBox01 .close_btn2{ }
.leftBox01 .close_btn1{ background-color:#efeeee;  font-size:12px;  text-align:center;}
.leftBox01 .close_btn1 span{ display:block; background:#2191da; color:#fff;font-family:SimSun; height:50px; line-height:50px;width:10px;opacity:0.7; }
.leftBox01 .close_btn1 span:hover{ display:block; background:#2191da; color:#fff;font-family:SimSun; height:50px; line-height:50px; opacity: 1;}
.leftBox01 .biao_leftmenubox{background-color:#fff; width:330px; position:relative; padding: 0 10px; }
.leftBox01 .biao_leftmenubox h3{ position: relative; margin-top: 10px; line-height:38px;border-bottom: 1px solid #dcdee2;font-size:16px;  border-top-left-radius: 3px;border-top-right-radius: 3px;}

.leftBox01 .biao_leftmenubox ul{ }
.leftBox01 .biao_leftmenubox a{ color:#444;  line-height:20px; display:block; font-size:14px;padding:10px 25px 10px 15px; border-bottom: 1px dashed #dcdee2;}
.leftBox01 .biao_leftmenubox .active a{ font-size:14px;}
.leftBox01 .biao_leftmenubox a:hover{color:#3e9be5;}
.btnfixed { position:absolute; top:0px; right:0px;  cursor:pointer;}
.btnfixed span{width:30px; height:20px; display:block; text-align:center; font-size:18px; }
.btnfixed .icon-off{ color:#53acf3}
.btnfixed .icon-on{ color:#53acf3;}
.leftTab{ }
.TableMain .leftmenucss .leftTab li{ font-weight:normal; display:inline-block;padding:0px 12px;   cursor:pointer;  line-height: 38px;color: #333 }
.TableMain .leftmenucss .leftTab li:hover{ color: #333;}
.TableMain .leftmenucss .leftTab .active{border-bottom: 2px solid #4285f4; font-weight: bold;}

/*2017-03-29修改*/
.TableMain .leftmenucss .tabmenu *{ margin:0px; padding:0px;}
.TableMain .leftmenucss .tabmenu .listbox{ background-color:#fff; margin-bottom:5px;}
.TableMain .leftmenucss .tabmenu .listbox .title{ transition:0.5s; font-size:14px; text-align:center; background-color:#f8f8f8; height:38px; line-height:38px; cursor:pointer; border:1px solid #eaeaea;}
.TableMain .leftmenucss .tabmenu .listbox .active{ background-color:#b3d9f4; }
.TableMain .leftmenucss .tabmenu .listbox h2{ font-size:14px; color:#1a56a9; height:28px; line-height:28px;}
.TableMain .leftmenucss .tabmenu .listbox ul{ padding:5px 10px 15px 10px;font-size:14px;}

/*2018-05-09增加样式*/
.fixedTable{ position: fixed; width: 100%; top:0px; padding-top: 0px; display: none;}
.fixedTable ul{ width: 96%; margin: auto; background-color: #d6eeff;}
.fixedTable table{ background-color:#b5b5b5; font-size:12px;}
.fixedTable td{ background-color:#fff; height:27px;}
.fixedTable .title01{ background-color:#f8fcfd; padding:0 5px 0 5px;   }

/*2018-09-07*/

body{color: #333; font-size: 14px;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px;  /*滚动条宽度*/
    height: 6px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    border-radius: 10px;  /*滚动条的背景区域的圆角*/
    background-color: #fff;/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);  
    background-color: #bbb;  /*滚动条的背景颜色*/
}

.alert-box{ position: fixed; width: 300px;right:-300px; top:10px; opacity: 0;z-index: 999;}
.alert-box ul{ border-radius: 3px; font-size: 12px; position: relative;}
.alert-box ul .left-icon{width:32px; text-align: center; vertical-align:center; }
.alert-box ul .left-icon img{ display: inline-block;}
.alert-box ul .text{  padding: 8px 8px; line-height: 18px;}
.alert-box .colorOrange{background-color: #fff6e1;border: 1px solid #fce4c6;}
.alert-box .colorOrange .alert-icon{background-image: url(../taxReturns/orange_left_icon.png);}
.alert-box .colorBlue .alert-icon{background-image: url(../taxReturns/blue_left_icon.png);}
.alert-box .colorBlue{background-color: #eaf4ff;border: 1px solid #d2e7fb;}
.alert-box .alert-icon{ display: inline-block;  height: 20px; width: 20px;}

/**** 采集类弹出窗口样式****/
.winbox{ z-index:9999; position:absolute; top:10%; left:50%; background-color:#fff; border:1px solid #a6a6a6;
 box-shadow:2px 5px 4px #a6a6a6,-2px 5px 4px #a6a6a6; 
  transition:opacity 0.3s, display 0.3s;
	-webkit-transition:opacity 0.3s, display 0.3s; border-radius: 3px;
}
.winbox_bg{ background-color:#000000; opacity:0;filter:alpha(opacity=0)\9; position:fixed; top:0px; height:100%; width:100%; z-index:200;}
.winbox h1{ font-size: 14px;font-weight: normal;height: 40px;line-height: 40px;padding: 0 20px 0 20px;color: #333; border-bottom: 1px solid #eee;}
.winbox h1 span{ cursor:pointer;color:#fff;background-image: url(win_close.png);background-repeat: no-repeat;background-position: right;}
.winbox h1 img{ padding-left:2px; padding-right:2px; cursor:pointer;  }
.winbox .tabs_01 { overflow:hidden; clear:both;}
.winbox .tabs_01 li{ float:left;}
.winbox .tabs_01 li a{ padding:5px 15px; display:block; color:#333; background-color:#d9dfe5; margin:2px 4px 2px 0; border-radius:1px; font-size:14px;}
.winbox .tabs_01 .active a{ background-color:#546478; color:#fff;}
.winbox .searchTable{/* overflow:auto;*/}
.winbox .searchTable table,.winbox .searchTable01 table{ border-top:1px solid #dddddd; border-left:1px solid #dddddd ;font-size:12px;}
.winbox .searchTable th ,.searchTable td,.winbox .searchTable01 th ,.searchTable01 td{ border-bottom:1px solid #dddddd; border-right:1px solid #dddddd;color:#666666; font-size:12px;}
.winbox .searchTable th ,.winbox .searchTable01 th{padding:2px 5px; color:#444444;    height:32px; background-color:#eeeeee;}
.winbox .searchTable td,.winbox .searchTable01 td{color:#313131; height:32px; padding:0px 5px; font-size:12px;}
.winbox .searchTable td span,.winbox .searchTable01 td span{ font-size:12px;}
.winbox .searchTable td a,.winbox .searchTable01 td a{ font-size:12px;}
.winbox .searchTable tr:nth-child(odd){background-color:#fff;}
.winbox .searchTable tr:nth-child(even){ background-color:#f9f9f9;}
.winbox .searchTable tr{transition:background 0.5s;-moz-transition:background 0.5s; /* Firefox 4 */-webkit-transition:background 0.5s; /* Safari and Chrome */-o-transition:background 0.5s; /* Opera */}
.winbox .searchTable tr:hover{ background-color:#f9f9f9;}
.winbox .title{ font-size:18px; color:#1a56a8; height:38px; line-height:38px; }
.winbox .title span{ display:inline-block; height:32px; line-height:32px; width:32px; text-align:center; font-weight:bold; color:#fff; background-color:#1a56a8; font-size:14px; border-radius:3px; margin-right:6px;}
.winbox .inputbox{ padding:10px 22px 10px 22px; }
.winbox .inputbox .table{ }
.winbox .inputbox .table td{ font-size:14px;}
.winbox .inputbox .table th{ font-weight:normal; text-align:left; height:32px; line-height:32px; font-size:14px; color:#808080;}
.winbox .winbtn{ padding:15px 25px 15px 0px; text-align:right;}
.winbox-content{ padding:20px 30px}
.winbox-content .list01{ font-size:17px; color:#999999; margin-bottom:20px}
.winbox-content .list02{ font-size:20px; color:#006cda;margin-bottom:20px}
.winbox-content .list03{ font-size:14px; color:#000000;margin-bottom:10px; list-style-image:url(../images/circle.png); list-style-position:inside;}
.winbox-content .list03 span{ font-weight:bold; margin:0px 4px; font-size:15px}

/*申报表单控件优化优化*/

.NewTableMain .select2-container .select2-choice{ border:none; height: 27px; line-height: 27px; padding: 0px;}
.NewTableMain .edit .layui-input{border: 1px solid #fff; padding: 0px;border-radius: 0px; text-indent: 5px;}
.NewTableMain .edit .layui-input:hover{border: 1px solid #fff;}
.NewTableMain .edit .layui-input:focus{border: 1px solid #fff;}
.NewTableMain .edit .sp_input{height: 25px; line-height: 25px;border-radius: 0px; text-indent:0px;}
.NewTableMain .edit .select2-container-multi .select2-choices{box-sizing: content-box; height: 25px; line-height: 25px;border-radius: 0px;border: 1px solid #fff;}
.NewTableMain .select2-container-multi .select2-choices .select2-search-field input{ height: 25px; line-height: 25px;border: 1px solid #fff; display: none;}
.NewTableMain .select2-container-multi .select2-choices .select2-search-choice { margin: 0px; margin-right: 5px; margin-top: 1px;}
.NewTableMain .edit .select2-container-multi .select2-choices{padding-left: 0px;}
.NewTableMain .select2-container .select2-choice .select2-arrow{ width: 25px;}

/*按钮样式 新增 2018-10-16*/


.layui-btn {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 18px;
	background-color: #53acf3;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	box-sizing: border-box;
}
.layui-btn:hover {
	background-color: #3e9be5;
	color: #fff
}
.layui-btn-primary:hover{ background-color: #edf6fc; border-color:#3e9be5 }
.layui-btn-warm:hover{ background-color: #ff9600; border-color:#ff9600; opacity: 0.8; filter: alpha(opacity=80)}
.layui-btn-danger:hover{ background-color: #FF5722; border-color:#FF5722; opacity: 0.8; filter: alpha(opacity=80)}

.layui-btn:active {
	opacity: 1;
	filter: alpha(opacity=100)
}
.layui-btn+.layui-btn {
	margin-left: 6px
}
.layui-btn-container {
	font-size: 0
}
.layui-btn-container .layui-btn {
	margin-right: 10px;
	margin-bottom: 10px
}
.layui-btn-container .layui-btn+.layui-btn {
	margin-left: 0
}
.layui-table .layui-btn-container .layui-btn {
	margin-bottom: 9px
}
.layui-btn-radius {
	border-radius: 100px
}
.layui-btn .layui-icon {
	margin-right: 3px;
	font-size: 18px;
	vertical-align: bottom;
	vertical-align: middle\9
}
.layui-btn-primary {
	border: 1px solid #53acf3;
	background-color: #fff;
	color: #53acf3;
}
.layui-btn-primary:hover {
	border-color: #53acf3;
	color: #53acf3
}
.layui-btn-normal {
	background-color: #1E9FFF
}
.layui-btn-warm {
	background-color: #ff9600
}
.layui-btn-danger {
	background-color: #FF5722
}
.layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover {
	border: 1px solid #DDD;
	background-color: #f7f7f7;
	color: #bbb;
	cursor: not-allowed;
	opacity: 1
}
.layui-btn-lg {
	height: 36px;
	line-height: 36px;
	padding: 0 25px;
	font-size: 16px
}
.layui-btn-sm {
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	font-size: 12px
}
.layui-btn-sm i {
	font-size: 12px!important; margin-right: 3px;
}
.layui-btn-xs {
	height: 22px;
	line-height: 22px;
	padding: 0 5px;
	font-size: 12px
}
.layui-btn-xs i {
	font-size: 14px!important
}
.layui-btn-group {
	display: inline-block;
	vertical-align: middle;
	font-size: 0
}
.layui-btn-group .layui-btn {
	margin-left: 0!important;
	margin-right: 0!important;
	border-left: 1px solid rgba(255,255,255,.5);
	border-radius: 0
}
.layui-btn-group .layui-btn-primary {
	border-left: none
}
.layui-btn-group .layui-btn-primary:hover {
	border-color: #C9C9C9;
	color: #168de9
}
.layui-btn-group .layui-btn:first-child {
	border-left: none;
	border-radius: 2px 0 0 2px
}
.layui-btn-group .layui-btn-primary:first-child {
	border-left: 1px solid #c9c9c9
}
.layui-btn-group .layui-btn:last-child {
	border-radius: 0 2px 2px 0
}
.layui-btn-group .layui-btn+.layui-btn {
	margin-left: 0
}
.layui-btn-group+.layui-btn-group {
	margin-left: 10px
}
.layui-btn-fluid {
	width: 100%
}

.layui-layer .layui-layer-btn .layui-btn-disabled{
	border: 1px solid #DDD;
	background-color: #f7f7f7;
	color: #bbb;
	cursor: not-allowed;
	opacity: 1
	
}

.NewTableMain div.sp_clear_btn{ padding-top: 2px;}


/*2018-11-27 旧版缺失样式补充*/

/*增加旧版缺失.linkpagebox .titleText样式属性*/
.linkpagebox .titleText {font-size: 14px;position: absolute;float: left;margin-top: -16px;margin-left: 4px;background-color: #fff;font-weight: bold;height: 32px;line-height: 32px;padding: 0 10px;border-radius: 3px;}
.linkpagebox .table {padding: 20px 15px;}
.linkpagebox .table td {font-size: 14px;padding: 5px 2px 5px 2px;color: #575757;}
.linkpagebox .NewTableMain {margin: 0 20px;}
.linkpagebox .NewTableMain th {padding: 2px 5px;}
.listSelect01 {display: block;padding-left: 10px;height: 32px;line-height: 32px;border-width: 1px;border-style: solid;background-color: #fff;border-radius: 2px;border-color: #e6e6e6;}
.linkpagebox {border: 1px solid #ededed;margin-bottom: 40px;border-radius: 3px;}
.boxmain{width:96%; margin:auto;}

/*修改表弹窗表单颜色*/
.inputReadonly{background-color: #f7f7f7;border: 1px solid #e6e6e6;color:#696969;margin: 3px 0;height: 28px;line-height: 28px;}
/*红色*/
.font-color01 {color: #F00;}
/*选择框*/
.inputNewSelect01{display: block;padding-left: 10px;height: 32px;line-height: 32px;border-width: 1px;border-style: solid;background-color: #fff;border-radius: 2px;margin: 3px 6px 3px 3px;border-color: #e6e6e6;}
.inputDate01 input:hover{ background-color:#ffffd5;}
/*表单头部白底，字体居左*/
.winbox h1 table td {font-size: 14px;color: #333;font-weight: bold;position: relative;}
.winbox h1 {background-color: #fff;}



